// Menu button

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include easeOut;
  }

  // Rotate into X with menu lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      &:nth-child(2) {
        transform: rotate(55deg) translate(-1px, 6px);
      }

      &:nth-child(3) {
        transform: rotate(-60deg) translate(9px, 5px);
      }
    }
  }
}

// Menu overlay

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    // Slide in from the top
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  &-branding {
    background: $primary-color;
    @include easeOut;
    transform: translate3d(0, 100%, 0);

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background: url("../img/portrait.jpg");
      border: solid 3px $secondary-color;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-weight: 300;
    padding: 1rem 0;
    font-size: 30px;
    text-transform: uppercase;
    @include easeOut;
    text-decoration: none;
    color: set-text-color($primary-color);

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
  .nav-item {
    &:nth-child(#{$x}) {
      transition-delay: $x * 0.1s;
    }
  }
}
